#
#  ___ __ ___ ____    _  _   _ _____ ___    ___ ___ ___  _    ___
# |_  )  \_  )__ /   /_\| | | |_   _/ _ \  | __/ __/ _ \| |  | __|
#  / / () / / |_ \  / _ \ |_| | | || (_) | | _| (_| (_) | |__| _|
# /___\__/___|___/ /_/ \_\___/  |_| \___/  |___\___\___/|____|___|
# | |__ _  _   __ _ ___ ____ __  __ _ _ _
# | '_ \ || | / _` / _ (_-< '  \/ _` | ' \
# |_.__/\_, | \__, \___/__/_|_|_\__,_|_||_|
#       |__/  |___/
#

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=e8c9a24561b3381f2b3041fe9acfae03
###< symfony/framework-bundle ###

###> symfony/webapp-pack ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/webapp-pack ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
# MAILER_DSN=null://null
###< symfony/mailer ###